<div class="pillar-block">
  <div class="pillar-block__icon">{{ pillar_icon | safe }}</div>
  <h3 class="pillar-block__title">{{ pillar_title }}</h3>
  <p class="pillar-block__description">{{ pillar_description }}</p>
</div>
