---
title: "TIC Group"
description: "A driving industry group that acquires, operates, and supports driving school businesses."
layout: "layouts/base.njk"
permalink: "/"
---

<h1>{{ site.name }}</h1>
<p>{{ site.description }}</p>
