---
title: "Thank You"
description: "Your enquiry has been received. We'll be in touch soon."
layout: "layouts/base.njk"
permalink: "/thank-you/"
eleventyExcludeFromCollections: true
---

<section class="section section--light">
  <div class="container" style="text-align: center; padding: 4rem 1rem;">
    <h1>Thank You</h1>
    <p>Your enquiry has been received. A member of the TIC Group team will be in touch shortly.</p>
    <p style="margin-top: 2rem;"><a href="/" class="btn btn--primary">Return to Home Page</a></p>
  </div>
</section>
